

/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* insert styles here */
    .mobile-hide{
        display: none;
    }
    .navbar-padding {
        margin-top: 75px;
    }
    .navbar-second {
       z-index: 999;
    }
    .swiper-container {
        height: 300px;
    }

    .cards {
        display: inherit;
    }
    .info-item {
         padding: 0;
    }
    .button {
        margin: 0.25rem;
    }
    #page-content-wrapper {
        position: relative;
        padding-top: 25px;
    }
    .footer-link {
        margin-left: 10px;
    }
    ul.dropdown li {
        width: 100%;
    }
    ul.dropdown ul {
        position: relative;
        width: 100%;
        padding-top: 0!important;
    }
    .slide_btn, .slide_btn_in {
        z-index: 998;
        top: 47%;
    }
    .slide_btn_v2, .slide_btn_in_v2 {
        z-index: 998;
        top: 58%;
    }
    .link-hide-mobile, .hide-menu{
        display: block !important;
    }
    .link-hide{
        display: none !important;
    }
    .brand-second{
        position: absolute;
        left: 25%;
        top: 6px;
        display: block;
    }
    .brand {
        width: 20%;
    }
    .post-body {
        padding: 0 0 80px;
    }
    .cd-faq-group{
        display: block;
    }
    .cd-faq-items {
         position: relative;
        height: 100%;
        width: 90%;
        padding: 0 5% 1em;
        -webkit-overflow-scrolling: touch;
         -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
         transform: none;
         -webkit-transition: none;
        -moz-transition: none;
         transition: none;
    }
    .cd-faq-categories a {
        padding: 10px 28px 10px 16px;
    }
    .mobile-fix-top{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .mobile-wrap{
        padding-top: 165px !important;
    }
    .container-post .col-12, .col-md-6{
        padding-left: 0;
        padding-right: 0;
    }
    .info-items {
        padding-left: 0;
    }
    .info-item{
        display: block;
    }
    .navbar-center{
        position: relative;
        height: 100%;
        overflow-y: auto;
    }
    #carousel {
        height: 100%;
    }
    video {
        height: 100%;
    }
    .certificate-block img{
        width: 100%;
    }
    .carousel-caption h2{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
    .overlay {
        height: 170px;
    }
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
    .swiper-container {
        height: 300px;
    }
    #carousel {
        height: 100%;
    }
    video {
        height: 100%;
    }
    .mobile-hide{
        display: none;
    }
    .navbar-padding {
        margin-top: 75px;
    }
    .navbar-second {
        z-index: 999;
    }
    .cards {
        display: inherit;
    }
    .info-item {
        padding: 0;
    }
    .button {
        margin: 0.25rem;
    }
    #page-content-wrapper {
        position: relative;
        padding-top: 25px;
    }
    .footer-link {
        margin-left: 10px;
    }
    ul.dropdown li {
        width: 100%;
    }
    ul.dropdown ul {
        position: relative;
        width: 100%;
        padding-top: 0!important;
    }
    .slide_btn, .slide_btn_in{
        z-index: 998;
    }
    .slide_btn_v2, .slide_btn_in_v2 {
        z-index: 998;
        top: 58%;
    }
    .link-hide-mobile, .hide-menu{
        display: block !important;
    }
    .link-hide{
        display: none !important;
    }
    .brand-second{
        position: absolute;
        left: 25%;
        top: 6px;
        display: block;
    }
    .brand {
        width: 20%;
    }
    .post-body {
        padding: 0 0 80px;
    }
    .mobile-wrap{
        padding-top: 165px !important;
    }
    .info-items {
        padding-left: 0;
    }
    .info-item{
        display: block;
    }
    .navbar-center{
        position: relative;
        height: 100%;
        overflow-y: auto;
    }
    .certificate-block img{
        width: 100%;
    }
    .carousel-caption h2{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
    .overlay {
        height: 170px;
    }
}

/* (1440x900) WXGA+ Display */
@media  screen and (min-width: 1440px) {
    /* insert styles here */
    .swiper-container {
        height: 720px;
    }
    #carousel {
        height: 720px;
    }
}

@media(max-width: 1270px) {

}




@media(max-width: 1180px) {

}


@media(max-width: 1180px) {



}

@media(max-width: 1174px) {

}

@media (max-width: 1100px) {

}


@media(max-width: 1089px) {

}



@media (max-width: 1333px){
    .sub-menu-top {
        top: -401px !important;
    }
}
@media (max-width: 1024px){
    .slide_btn, .slide_btn_in {
        z-index: 998;
        top: 47%;
    }
}

@media(max-width: 991px) {


}

@media (max-width: 980px) {



}
@media(max-width: 980px) {

}


@media(max-width: 960px) {

}

@media(max-width: 880px) {

}


@media (max-width: 780px) {

}
@media (max-width: 770px) {

}
@media (max-width: 768px) and (max-height: 600px) {


}

@media (max-width: 599px){

}

@media (max-width: 780px) {

}


@media (min-width: 769px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 650px;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

@media (max-width: 768px) {
    .slide_btn, .slide_btn_in {
        z-index: 998;
        top: 47%;
    }
}


@media(min-width: 689px){

}

@media(max-width: 688px) {


}


@media (max-width: 640px) {

}


@media (max-width: 620px) {

}

@media(max-width: 599px) {


}

@media(max-width: 550px) {

}

@media (max-width: 880px) and (min-width:480px) {



}

@media (max-width: 480px) {


}


@media (max-width: 425px) {

}

@media (max-width: 375px) {

}
@media (max-width: 320px) {

}