.close {
    position: absolute;
    top: 0;
    right: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.post-body{
    position: relative;
    width: 100%;
    padding: 0 100px 80px;
    min-height: 500px;
}
.post-body-img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.lines{
    width: 100%;
    margin-bottom: 10px;
}
.brand{
    position: absolute;
    bottom: 0;
    width: 10%;
    padding: 5px;
}