*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Elektra Text Pro";
    src: url(../fonts/ElektraText.otf);
}
body {
    font-family: "Elektra Text Pro", sans-serif !important;
}

a:hover{
    color: #039;
}

.bg-dark {
    background-color: #37383d !important;
}



/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    padding: 0;
    list-style: none;
    margin: 10px 0 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffc107;
    background: #60626b;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: white;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #ffc107;
    background: none;
}

@media(min-width:768px) {

}
.navbar-toogle{
    background: transparent;
    color: white;
    border: none;
}

#animated input[type=text] {
    width: 150px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 15px;
    background-color: white;
    padding: 5px 10px 5px 35px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

#animated input[type=text]:focus {
    width: 200px;
}

#animated i {
    position: relative;
    left: 30px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000;
}

.form-navbar{
    display: inline-block;
    margin-bottom: 0;
    top: 10px;
    position: absolute;
}
.text-white{
    color: #ffffff;
}
.navbar-contact{
    color: black;
    font-size: 0.9rem;
    margin-left: -50px;
}
.navbar-item-contact:hover > i{
    color: #ffc107;
}
.navbar-item-contact > a{
    color: black;
}
.navbar-item-contact:hover > a{
    color: #ffc107;
    text-decoration: none;
}
#carousel {
    position: relative;
    width: auto;
    min-width: 100%;
    height: 500px;
    margin-top: 0;
}
.navbar-callback{
    margin-top: 13px;
    float: right;
    margin-right: -50px;
}
.navbar-shadow{
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.swiper-slider-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slider-content{
    height: 100%;
}
.slider-video{
    visibility: visible;
    /*min-width: 100% !important;*/
    /*min-height: 100%!important;*/
    /*width: auto!important;*/
    /*height: auto!important;*/
    transform: translate(0, -25%);
    z-index: 9;
}

.navbar-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-center > li {
    float: none;
    display: inline-block;
}
#lab_video_text_overlay h2 {
    font-size:4em
}

#lab_video_text_overlay .btn {
    border-radius:0;
    text-transform:uppercase;
    font-weight:200;
}
#lab_video_text_overlay .btn-warning {
    background-color:#ffc107;
}

#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
    z-index: 10;
}
#lab_video_text_overlay .container {
    margin: 0px auto;
    background-color: transparent;
}
@media screen and (max-width:991px) {
    #lab_video_text_wrap {
        height: 300px;
    }
}

@media screen and (max-width:650px) {
    #lab_video_text_wrap {
        height: 250px;
    }
    #lab_video_text_overlay h2 {
        font-size: 2em;
    }
    #lab_video_text_overlay p {
        font-size: .9em;
    }
}
.navbar-second{
    padding: 0;
    width: 100%;
}
.footer .footer-top {
    background-color: #60626b;
    padding: 3rem 0 5px;
}
.footer .footer-top h3{
    color: white;
}
.footer .footer-top span{
    color: white;
}
.footer .footer-link > span{
    font-size: 14px;
}
.footer .footer-top i{
    color: white;
}

.footer .footer-top a {
    color: white;
}
.footer .footer-top a:hover {
    color: #ffc107;
    text-decoration: none;
}
.footer .footer-top a:hover i {
    color: #ffc107;
}
.footer .footer-bottom {
    background-color: #37383d;
    padding: 15px 0;
    color: white;
    font-size: 14px;
}
.footer .footer-bottom a{
    color: white;
}
.footer .footer-bottom a:hover{
    color: #ffc107;
}
.btn-social-icon span{
    font-size: 20px !important;
}
.footer-link {
    margin-bottom: 0.2rem;
}
.row-lang{
    font-size: 12px;
    position: absolute;
    top: -8px;
    right: -36px;
    margin-left: -80px;
}
.row-lang a{
    color: black;
    border-right: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
.row-lang .active{
    text-decoration: underline;
}
.row-lang a:hover{
    color: #ffc107;
}
.row-lang a:last-child{
    border-right: none;
}
.row-lang a:first-child{
    padding-left: 0;
}
.display-inline{
    display: inline-block;
}
.info-item{
    display: inline-block;
    padding: 20px 30px;
}
.main-info-block{
    background: white;
    background: #1b1b1bd9;
    background-image: url(../images/world-map.png);
    color: white;
    padding: 2rem 0;

}
.into-count, .display-inline{
    margin-top: 0.2rem;
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -2px;
    font-weight: 700;
}
.info-item p {
    margin-bottom: 0;
}

hr {
    padding-bottom: 1px;
    background-color: #9b9b9b;
    border-bottom:1px solid #F4F4F4;
}

.width-30{
    width: 30%;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffc107;
}
.col-news{
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.post-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 5px;
}
.post{
    margin-bottom: 20px;
}
.post-body-item{
    position: relative;
    width: 100%;
    display: inline-flex;
}
.post-body{
    position: relative;
    width: 100%;
    padding: 0 100px 80px;
    min-height: 500px;
}

.post-body-item p{
     text-align: justify;
}
.post-body span{
    font-size: 80%;
    color: #868e96;
    position: absolute;
    bottom: 5px;
    right: 25px;
}
.post-body-item span{
    font-size: 80%;
    color: #868e96;
    position: absolute;
    bottom: 5px;
    right: 25px;
}
.container-post{
    position: relative;
}
#news{
    position: absolute;
    margin-top:-90px;
}
.container-post .row{
    margin: 0;
}
.post:hover{
    background: #d6d6d6;
}
.post-data{
    padding: 5px 25px 5px 0;
}
.post-link{
    color: black;
}.post-link:hover{
    text-decoration: none;
}
.right-menu{
    background: #37383d;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
}
.right-menu a> h3{
    padding: 10px 10px 10px 50px;
    text-align: left;
}
.right-menu a> h3 > i{
    float: right;
}
.right-menu a >h3:hover{
    background-color: #039;
}
.right-menu a {
   color: white;
}
.right-menu a:hover{
    color: #ffc107;
    text-decoration: none;
}
.right-menu-title {
    text-align: center;
    padding-top: 20px;
    color: white;
}

cards__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}
@media (min-width: 40rem) {
    .cards__item {
        width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards__item {
        width: 20%;
    }
}
@media (min-width: 40rem) {
    .cards__item_big {
        width: 50%;
    }
}
@media (min-width: 56rem) {
    .cards__item_big {
        width: 33.3333333%;
    }
}

.cards__item_big p{
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
    position: inherit;
    line-height: 1;
    margin-top: 3px;
}
.cards__item_big h5 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1.2rem;
}
.card__worker{
    height: 100px!important;
}
.card__worker .card__title {
     letter-spacing: 0;
}
.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.card-v2 {
    margin: 5px;
    background-color: white;
    -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}
.cards__item > a:hover{
    text-decoration: none;
}
.card-v2:hover .card__image {
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
}
.card__content {
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem;
}
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: contrast(50%);
    filter: contrast(50%);
    overflow: hidden;
    position: relative;
    -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}
.card__image--house {
    background-image: url(https://cdn.houseplans.com/product/o2d2ui14afb1sov3cnslpummre/w1024.jpg?v=15);
}
.card__image--health {
    background-image: url(https://www.iamexpat.nl/sites/default/files/styles/article--full/public/dutch-healthcare-system.jpg);
}
.card__image--travel {
    background-image: url(https://rentyerevan.com/wp-content/uploads/2016/07/extreme-tourism.jpg);
}
.card__image--casko {
    background-image: url(http://dtz.in.ua/wp-content/uploads/2013/07/casco.jpg);
}
.card__title {
    color: #696969;
    font-size: 0.95rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
.margin-height-30{
    margin: 30px 0;
}
.message-form{
    margin-bottom: 20px;
}
.message-form label{
    padding: 0 15px;
    color:white;
}
.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;

}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffc107;
    outline: none;
    -webkit-box-shadow: 0 0 2px 0.2rem rgba(255, 193, 7, 0.33);
    box-shadow: 0 0 2px 0.2rem rgba(255, 204, 0, 0.33);
}
.message-form .form-control{
    margin: 0 15px;
    width: 90% !important;
}
.required{
    font-weight: bold;
}
.required:after{
    color: #E1332D;
    content: ' *';
    display:inline;
}
.shadow {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.main-action-block{
    display: table;
    width: 100%;
    margin: 30px 0;
}

a.button{
    color: white;
}
a:hover.button{
    color: white;
    text-decoration: none;
}
.button {
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    color: white;
    font-family: inherit;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

.button-full-wight{
    width: 100%;
}

.btn-red{
    background-color: tomato;
}
.btn-red:focus, .btn-red:hover {
    background-color: #ff7359;
    -webkit-box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #ff7359;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #ff7359;
}

.btn-red:active {
    background-color: #f25e43;
    -webkit-box-shadow: 0 0 0 0.1875rem #f25e43, 0 0 0 0.375rem #f25e43;
    box-shadow: 0 0 0 0.1875rem #f25e43, 0 0 0 0.375rem #f25e43;
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
}

.btn-green{
    background-color: #28a745;
}
.btn-green:focus, .btn-green:hover {
    background-color: #28a745;
    -webkit-box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #28a745;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #28a745;
}

.btn-green:active {
    background-color: #28a745;
    -webkit-box-shadow: 0 0 0 0.1875rem #28a745, 0 0 0 0.375rem #28a745;
    box-shadow: 0 0 0 0.1875rem #28a745, 0 0 0 0.375rem #28a745;
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
}

.btn-blue{
    background-color: #039;
}
.bg-primary-dark-blue {
    background-color: #039 !important;
}
.btn-blue:focus, .btn-blue:hover {
    background-color: #039;
    -webkit-box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #039;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #039;
}

.btn-blue:active {
    background-color: #039;
    -webkit-box-shadow: 0 0 0 0.1875rem #039, 0 0 0 0.375rem #039;
    box-shadow: 0 0 0 0.1875rem #039, 0 0 0 0.375rem #039;
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
}

.btn-yellow{
    background-color: #ffc107;
}
.btn-yellow:focus, .btn-yellow:hover {
    background-color: #ffc107;
    -webkit-box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #ffc107;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #ffc107;
}

.btn-yellow:active {
    background-color: #ffc107;
    -webkit-box-shadow: 0 0 0 0.1875rem #ffc107, 0 0 0 0.375rem #ffc107;
    box-shadow: 0 0 0 0.1875rem #ffc107, 0 0 0 0.375rem #ffc107;
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
}

.button-commissar{
    height: 120px;
    width: auto;
    background-image: url(../images/specialist.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.button-phone{
    height: 120px;
    width: auto;
    background-image: url(../images/phone.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.button-cloud{
    height: 120px;
    width: auto;
    background-image: url(../images/rain_cloud.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.button-calculate{
    height: 120px;
    width: auto;
    background-image: url(../images/calculate.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.page-link {
    font-size: 20px;
    padding: 0.2rem 0.65rem;
    background-color: transparent;
    border: none;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.dropdown{
    position: relative;
    width: 100%;
}
.drop > a{
    padding: 17px 8px !important;
}
ul.dropdown li{
    font-weight: bold;
    float: left;
    width: 19%;
    position: relative;
}

ul.dropdown a:hover{
    color: #000;
}

ul.dropdown li a {
    display: block;
    padding: 17px 8px !important;
    color: white;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover{
    background: #3333CC;
    position: relative;
    color: #fff;
}


ul.dropdown ul{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

ul.dropdown ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
ul.dropdown ul li{
    font-weight: normal;
    background: #f6f6f6;
    color: #000;
    width: 100%;
}

ul.dropdown ul li a{
    display: block;
    color: #34495e !important;
    background: #eee !important;
}

ul.dropdown ul li a:hover{
    display: block;
    background: #3333CC !important;
    color: #fff !important;
}

.drop > a{
    position: relative;
}

.drop > a:after{
    content:"";
    position: absolute;
    right: 10px;
    top: 40%;
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    z-index: 999;
}

.drop > a:hover:after{
    content:"";
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
}
.blur-it {
    filter: blur(2px);
}
.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 600px;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 58%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 9999!important;
}

.modal-wrapper.open .modal {
    margin-top: -20%;
    opacity: 1;
}

.head {
    width: 100%;
    height: 55px;
    padding: 5px 20px;
    overflow: hidden;
    background: tomato;
}
.head-warning{
    background: #ffc107;
}.head-primary{
    background: #039;
}
.btn-close {
    font-size: 28px;
    display: block;
    float: right;
    color: #fff;
}
.btn-close:hover{
    color: #37383d;
}
.content {
    margin: 20px;
}

.content ul{
    display: flex;
    font-size: 14px;
}
.content p{
     margin: 0;
    font-size: 14px;
}
.content ul > li{
    padding: 5px;
}

.head-title{
    display: inline-block;
    margin-top: 5px;
    color: white;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-170{
    margin-top: 170px;
}
.post-gallery a:hover{
    text-decoration: none;
}
.post-gallery div {
    display: flex;
}

.post-gallery a {
    height: 150px;
    width: 150px;
    margin: 5px;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.post-gallery img{
    height: 150px;
    width: 150px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: cover;
}
.post-gallery img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0.9;
    background-color: black;
}
.bg-white{
    background-color: white !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}
.select2-dropdown {
     border-radius: 0;
}
.width-60{
    flex: 0 0 60.66666667%;
    max-width: 60.66666667%;
}
.padding-15{
    padding: 15px;
}
.select2-dropdown {
    z-index: 980;
}
.margin-left-15{
    margin-left: 15px;
}
.shadow-v1{
    -webkit-box-shadow: 0 18px 18px -17px rgba(0, 0, 0, 0.15);
    box-shadow: 0 18px 18px -17px rgba(0, 0, 0, 0.15);
}
.hr-light{
    background-color: #f3f3f3;
    border-bottom: 1px solid #ffffff;
}
.captcha-img{
    cursor: pointer;
}
.label-premium {
    font-size: 18px;
    line-height: 1.1;
    padding-top: 4px;
}
.block-premium{
    color: #039;
}
.breadcrumb {
    padding: 0.75rem 0rem;
    background-color: transparent;
    font-size: 14px;
}
#premium-price{
    font-size: 2.4rem;
    font-weight: 600;
}
.calc-form{
    margin-top: 10px;
    margin-bottom: 5px;
}
.select2-container *:focus {
    background-color: #fff;
    border-color: #ffc107;
    outline: none;
    -webkit-box-shadow: 0 0 2px 0.2rem rgba(255, 204, 0, 0.33);
    box-shadow: 0 0 2px 0.2rem rgba(255, 204, 0, 0.33);

}
.title-subsidiary{
    position: relative;
    background: transparent;
}
.title-subsidiary > h4{
    text-transform: uppercase;
    padding: 10px;
    background: transparent;
}
.title-subsidiary  > h4 > div{
    background-color: white;
    z-index: 100;
    width: 180px;
}
.title-line-grey{
    border-bottom: 1px solid #d3d3d3;
    position: relative;
    top: 24px;
    z-index: 0;
}
.subsidiary-img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.map{
    width: 100%;
    height: 210px;
}
.subsidiary-item{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.subsidiary-info{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.subsidiary-info p{
    margin-bottom: 5px;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.margin-top-15{
    margin-top: 15px;
}
#fof{display:block; width:100%; margin:100px 0; line-height:1.6em; text-align:center;}
#fof .hgroup{text-transform:uppercase;}
#fof .hgroup h1{margin-bottom: 5px; font-size:80px;}
#fof .hgroup h1 span{display:inline-block; margin-left:5px; padding:2px; overflow:hidden;}
#fof .hgroup h1 span strong{display:inline-block; padding:0px; font-weight:normal;}
#fof .hgroup h2{font-size:60px;}
#fof .hgroup h2 span{display:block; font-size:30px;}
#fof p{margin:25px 0 0 0; padding:0; font-size:16px;}
#fof p:first-child{margin-top:0;}

.cd-faq {
    margin: 2em auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.cd-faq:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (min-width: 768px) {
    .cd-faq {
        position: relative;
        margin: 1em auto;
        box-shadow: none;
    }
}

.cd-faq-categories a {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 28px 0 16px;
    background-color: #60626b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ffffff;
    border-bottom: 1px solid #60626b;
}
.cd-faq-categories a:hover {
    color: #ffc107;
    background: #37383d;
    text-decoration: none;
}
.cd-faq-categories a::before, .cd-faq-categories a::after {
    /* plus icon on the right */
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #7f868e;
}
.cd-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.cd-faq-categories li:last-child a {
    border-bottom: none;
}
@media only screen and (min-width: 768px) {
    .cd-faq-categories {
        width: 20%;
        float: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
    .cd-faq-categories a {
        font-size: 13px;
        font-size: 0.8125rem;
        font-weight: 600;
        padding-left: 24px;
        padding: 10px 24px;
        -webkit-transition: background 0.2s, padding 0.2s;
        -moz-transition: background 0.2s, padding 0.2s;
        transition: background 0.2s, padding 0.2s;
    }
    .cd-faq-categories a::before, .cd-faq-categories a::after {
        display: none;
    }
    .no-touch .cd-faq-categories a:hover {
        background: #555b61;
    }
    .no-js .cd-faq-categories {
        width: 100%;
        margin-bottom: 2em;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-faq-categories {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        z-index: 2;
    }
    .cd-faq-categories a::before {
        display: block;
        top: 0;
        content: "";
        right: auto;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #ffc107;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    .cd-faq-categories .selected {
        background: #37383d !important;
    }
    .cd-faq-categories .selected::before {
        opacity: 1;
    }
    .cd-faq-categories.is-fixed {
        position: fixed;
    }
    .no-js .cd-faq-categories {
        position: relative;
    }
}

.cd-faq-items {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}
.cd-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
}
.no-js .cd-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
@media only screen and (min-width: 768px) {
    .cd-faq-items {
        position: static;
        height: auto;
        width: 78%;
        float: right;
        overflow: visible;
        -webkit-transform: translateZ(0) translateX(0);
        -moz-transform: translateZ(0) translateX(0);
        -ms-transform: translateZ(0) translateX(0);
        -o-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        padding: 0;
        background: transparent;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-faq-items {
        float: none;
        width: 100%;
        padding-left: 220px;
    }
    .no-js .cd-faq-items {
        padding-left: 0;
    }
}

.cd-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
}
.cd-close-panel::before, .cd-close-panel::after {
    /* close icon in CSS */
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
}
.cd-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cd-close-panel.move-left {
    right: 2%;
}
@media only screen and (min-width: 768px) {
    .cd-close-panel {
        display: none;
    }
}

.cd-faq-group {
    /* hide group not selected */
    display: none;
}
.cd-faq-group.selected {
    display: block;
}
.cd-faq-group .cd-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;
}
.no-touch .cd-faq-group .cd-faq-title:hover {
    box-shadow: none;
}
.cd-faq-group .cd-faq-title h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    color: #bbbbc7;
}
.no-js .cd-faq-group {
    display: block;
}
@media only screen and (min-width: 768px) {
    .cd-faq-group {
        /* all groups visible */
        display: block;
    }
    .cd-faq-group > li {
        background: #ffffff;
        margin-bottom: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        -webkit-transition: box-shadow 0.2s;
        -moz-transition: box-shadow 0.2s;
        transition: box-shadow 0.2s;
    }
    .no-touch .cd-faq-group > li:hover {
        box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }
    .cd-faq-group .cd-faq-title {
        margin: 2em 0 1em;
    }
    .cd-faq-group:first-child .cd-faq-title {
        margin-top: 0;
    }
}

.cd-faq-trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
    line-height: 1.2;
}
@media only screen and (min-width: 768px) {
    .cd-faq-trigger {
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0;
        padding: 24px 72px 24px 24px;
    }
    .cd-faq-trigger::before, .cd-faq-trigger::after {
        /* arrow icon on the right */
        position: absolute;
        right: 24px;
        top: 50%;
        height: 2px;
        width: 13px;
        background: #cfdca0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }
    .cd-faq-trigger::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 32px;
    }
    .cd-faq-trigger::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .content-visible .cd-faq-trigger::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.cd-faq-content p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #6c7d8e;
}
@media only screen and (min-width: 768px) {
    .cd-faq-content {
        display: none;
        padding: 0 24px 30px;
    }
    .cd-faq-content p {
        line-height: 1.6;
    }
    .no-js .cd-faq-content {
        display: block;
    }
}
.hexa{
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213,213,213);
    background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
    z-index: 5;
}

.timeline li {
    padding: 2em 0;
}

.timeline .hexa{
    width: 16px;
    height: 10px;
    position: absolute;
    background: #039;
    z-index: 5;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid #039;
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid #039;
    bottom: -4px;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(224, 224, 224);
    font-weight: 600;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 0;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: #039;
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: #039;
    display: inline-block;
    padding: 8px;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(224, 224, 224);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    z-index: 15;
    border-radius: 0;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
}

@media(min-width: 768px){
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 8px;
    }

    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }

    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }

    .flag-wrapper {
        display: inline-block;
    }

    .flag {
        font-size: 18px;
    }

    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(254,254,254);
        border-width: 8px;
    }

    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(254,254,254);
        border-width: 8px;
        left: -8px;
    }

    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0;
    }

    .direction-l .time-wrapper {
        float: left;
    }

    .direction-r .time-wrapper {
        float: right;
    }

    .time {
        padding: 5px 10px;
    }

    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media(min-width: 992px){
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}
#scrollup {
    position: fixed;
    opacity: 1;
    padding: 15px 10px 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    bottom: 10px;
    right: 10px;
    display: none;
    float: right;
    cursor: pointer;
    z-index: 2000;
}

#whatsapp {
    position: fixed;
    height: 50px;
    width: 50px;
    opacity: 0;
    background: #25d366;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    bottom: 50%;
    right: 20px;
    display: block;
    float: right;
    cursor: pointer;
    z-index: 2000;
}
.whatsapp_show {
    opacity: 1!important;
    _display: block;
}
#whatsapp > i{
    color: white;
    font-size: 37px;
    padding-left: 9px;
    padding-top: 6px;
}
.partners-list .col-md-6:first-child > .row{
    margin: 10px;
}
.img-cover{
    object-fit: cover;
}
.img-contain{
    object-fit: contain;
}
.subsidiary-address{
    text-align: center !important;
    width: 68%;
    margin: 0 auto;
}
.notie-container {
    box-shadow: none;
    background-color: #28a745;
}
.notie-background-error{
    background-color: #E1715B!important;
}
.text-help{
    font-size: 12px;
    color: #6c757d !important;
}
.footer-bottom p{
    margin-bottom: 0;
}
.post-card-big{
    position: relative;
    background: white;
    margin: 5px;
}
.post-card-big-img{
    width: 100%;
}
.post-card-small-img{
    width: 100%;
}
.post-gradient-bg{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 110px;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 75%,#fff 100%);
}
.post-card-big-overlay{
    margin-top: -38px;
    z-index: 100;
    position: sticky;
}
.post-card-small-overlay{
    padding: 5px;
}
.post-card-big-title{
    color: black;
    padding: 5px;
    margin-bottom: -8px;
}
.post-card-small-title{
    color: black;
    margin-bottom: -5px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-card-big-title-bg{
    background: #fdfdfdc2;
}
.post-card-big-overlay p{
    margin-bottom: 0;
}
.post-card-small-overlay p{
    margin-bottom: 0;
}
.post-card-link:hover{
    text-decoration: none;
    color: #007bff;
}
.post-card-link:hover > .post-card-big{
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}
.padding-5{
    padding: 5px;
}
.post-card-small-desc{
    font-size: 13px;
    height: 70px;
    line-height: 13px;
    margin-top: 5px;
    overflow: hidden;
}
.post-card-small-date{
    z-index: 10;
    position: absolute;
    bottom: 1px;
    right: 5px;
}
.post-card-big-more{
    position: absolute;
}
.post-body-img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.post-body hr{
    margin-top: 0;
}
.blue-text{
    color: #039;;
}
.yellow-text{
    color: #ffc107;;
}
.without-filter{
    -webkit-filter: none;
     filter: none;
}

.slide_btn{
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 0;
    height: 50px;
    width: 50px;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    padding-left: 8px;
}
.slide_btn_in {
    z-index: 999;
    position: fixed;
    min-height: 50px;
    width: 160px;
    top: 50%;
    right: -160px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #777;
    color: #fff;
    padding: 16px 10px 10px;
    font-size: 14px;
    box-sizing: padding-box;
}
.slide_btn:hover {
    right: 160px;
}
.slide_btn:hover .slide_btn_in {
    right: 0;
}
.slide_btn_in:hover {
    right: 0;
}

.slide_btn_v2{
    z-index: 999;
    position: fixed;
    top: 57%;
    right: 0;
    height: 50px;
    width: 50px;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    padding-left: 8px;
}
.slide_btn_in_v2 {
    z-index: 999;
    position: fixed;
    min-height: 50px;
    width: 170px;
    top: 57%;
    right: -170px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px #777;
    color: #fff;
    padding: 16px 10px 10px;
    font-size: 14px;
    box-sizing: padding-box;
}
.slide_btn_v2:hover {
    right: 170px;
}
.slide_btn_v2:hover .slide_btn_in_v2 {
    right: 0;
}
.slide_btn_in_v2:hover {
    right: 0;
}


.bg-whats-app{
    background: #25d366 !important;
}
.bg-commissar{
    background: tomato !important;
}

.navbar-padding{
    margin-top: 81px;
}
.navbar-hide{
    display: none;
}
.big-logo{
    width: 50%;
}
.about-block p{
    border-left: 2px solid #039;
    padding-left: 10px;
    margin-left: 5px;
}
.certificate-block > img{
    width: 22%;
    height: auto;
    object-fit: cover;
    padding: 10px;
}
.calc-icon{
    float: left;
    position: absolute;
    left: 30px;
    font-size: 22px;
    padding: 1px;
}
.hide{
    display: none;
}
.height-500{
    min-height: 500px;
    padding-bottom: 40px;
}
.search-desc{
    max-height: 78px;
    line-height: 1.2;
    font-size: 16px;
    margin-top: 5px;
    overflow: hidden;
}
.search-item{
    position: relative;
    margin: 10px 0;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 3px;
}
.search-item span {
    font-size: 80%;
    color: white;
    position: relative;
    margin-left: 30px;
}
.navbar-toggler{
    margin: 5px 10px 15px;
    opacity: 1;
    color: white;
    border-color: white;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}


 .navigation ul {
    position: fixed;
    z-index: 500;
    float: left;
    top: 0;
    padding-top: 86px;
    height: 100%;
    background: #60626b;
}


#navigation {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    top: 85px;
    margin-left: -250px;
    overflow-y: auto;
    background: #37383d;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 35px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}



.navigation {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
}

.navigation ul,
.navigation ul li,
.navigation ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    float: left;
    min-height: 0.05em;
    line-height: 1em;
    vertical-align: middle;
    position: relative;
}

.navigation ul li.hover,
.navigation ul li:hover {
    position: relative;
    z-index: 510;
    cursor: default;
}

.navigation ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 520;
    width: 100%;
}

.navigation ul ul li {
    float: none;
}

.navigation ul ul ul {
    top: -2px;
    right: 0;
}

.navigation ul li:hover > ul { visibility: visible; }

.navigation ul ul {
    top: 0;
    left: 100%;
}

.navigation ul li { float: none; }

.navigation ul ul { margin-top: 0.05em; }

.navigation {
    width: 13em;
    zoom: 1;
}

.navigation:before {
    content: '';
    display: block;
}

.navigation:after {
    content: '';
    display: table;
    clear: both;
}

.navigation a {
    display: block;
    padding: 1em 0.5em;
    color: #ffffff;
    text-decoration: none;
}

.navigation > ul {
    width: 250px;
    top: 85px;
}

.navigation ul ul {    width: 270px; }

.navigation > ul > li > a {
    color: #ffffff;
}

.navigation > ul > li > a:hover { color: #ffffff; }

.sub-link{
    color: white !important;
}
.sub-link:hover{
    color: #ffc107 !important;
}
.navigation > ul > li a:hover,
.navigation > ul > li:hover a {
    color: #ffc107;
    background: #37383d;
}

.navigation li { position: relative; }


.navigation ul ul a { color: #ffffff; }
.navigation ul ul ul a { background: #60626b !important; }
.navigation ul ul ul a:hover { background: #37383d !important; }

.navigation ul ul a:hover { color: #ffffff; }

.navigation.align-right { float: right; }

.navigation.align-right li { text-align: right; }

.navigation.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}
.navigation ul li.has-sub > a:after {
    content: '»';
    position: absolute;
    right: 1em;
}
.navigation.align-right ul li.has-sub > a:after { content: none; }

.navigation.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 598;
    width: 100%;
}

.sub-menu-top{
    top: -321px !important;
}
.text-error{
    color: #ff0000cf;
    font-size: 12px;
}
.brand-block{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 10%;
    padding: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.brand{
    position: absolute;
    bottom: 0;
    width: 10%;
    padding: 5px;
}
.lines{
    width: 100%;
    margin-bottom: 10px;
}
:target {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.hide-menu, .link-hide-mobile{
    display: none !important;
}
.brand-second{
    display: none;
}
.post-type{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 12px;
    padding: 0 5px;
}
.bg-news{
    background: #28a745;
}
.bg-blog{
    background: #039;
}
.info-items{
    padding-left: 100px;
}

video{
    object-fit: cover;
    width: 100%;
    background: #aaaeba;
}
.carousel-inner, .carousel-item {
    height: 100%;
    background: #aaaeba;
}
.slider-overlay{
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    position: absolute;
    z-index: 9;
    background: rgba(0, 0, 0, 0.4);
}
video[poster]{
    height:100%;
    width:100%;
    object-fit: cover;
}
.currency-item {
    width: 100%;
    display: inline-flex;

}
.currency-item p{
    width: 50%;
    margin-bottom: 0;
    color: white;
    border-bottom: 1px solid;
}
.currency-value{
    text-align: right;
}
.bars-logo{
    position: absolute;
    left: -34px;
    height: 65px;
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
}
.bars-footer{
    left: 15px;
    bottom: 15px;
    -webkit-filter: none;
    filter: none;
}
.carousel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partners-item{
    margin: 10px;
}

.certificate-block img{
    width: 25%;
}
.overlay{
    width: 100%;
    height: 130px;
    content: "";
    position: absolute;
    bottom: 0;
    background: #003398ad;
}
.card__content_v2{
    height: 78px;
}
.card__title_v2{
    font-size: 0.85rem;
    letter-spacing: 0px;
}
.img-350{
    width: 350px;
}